@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

.all-logo {
  position: relative;
  width: 40%;
  display: flex;
  margin: 8% 30%;
  transition: transform .5s ease;
  &:hover {
    transform: scale(1.1);
  }
  @media @mobile {
    width: 60%;
    margin: 8% 20%;
  }
}

.second-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10% 2% 7% 2%;
  @media @tablet {
    display: flex;
    flex-direction: column;
  }


  .messari-img {
    width: 54%;
    height: auto;
    transition: transform .5s ease;
    overflow: hidden;
    &:hover {
      transform: scale(1.05);
    }  
    @media @tablet {
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
    }
    @media (max-width: 720px) {
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: flex-start;

    }
  }

  .messari-content {
    text-align: justify;
    width: 45%;
    padding: 1%;
    background-color: aquamarine;
    @media @tablet {
      width: 100%;
      overflow: hidden;
    }

  }

  h2{
    color: #ff4f00;
    padding: 5%;
  }

}

.heading {
  color: blueviolet;
  background-color:#e3edf4;
  padding: 2%;
  margin-top: 5%; 
}

.third-content {
  display: flex;
  flex-wrap: wrap;
  background-color:#e3edf4;
  @media @mobile {
    flex-direction: column;
  }
  .para {
    margin: 2%;
    padding: 2% 0;
    display: flex;
    flex-direction: row;
    width: 45%;
    text-align: justify;
    border-bottom: 2px dashed brown;
    &:hover {
      background-color: rgb(14, 241, 109);
    }
    @media @mobile {
      width: 100%;  
    }      
  }
  ul {
    list-style-type: disc;
    margin: 2%; 
  }
}

.last-content{
  background-color: #a8acec;
  padding: 1% 0;
  display: flex;
  justify-content: space-around;
  p {
    color: white;
    width: 20%;
  }
  nav {
    width: 30%;
    display: flex;
    justify-content: space-around;
  }
  a {
    font-size: 2.0rem;
  }
}

.about-wrapper {
  background-color:#e3edf4;
  h2, h3, p {
    color: black;
    margin: 0 2%;
    padding: 1% 0;
  }
  p{
    text-align: justify;
    padding: 2% 0;
    width: 90%;
  }
  img {
    width: 100%;
  }
  .box {
    margin: 0 2%;
    padding: 2% 0;
    display: flex;
    border: 1px solid red;
    
  }


}
/* animation of top landing page */
.first-container{
    background-image: linear-gradient(to left, #8e8ecc, #777bbb);
    height: 75vh;    
}
