/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
button,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: Avenir, "Adobe Blank", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Avenir, "Adobe Blank", sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: center;
  background-color: #233a4f;
}
@media (max-width: 960px) {
  header {
    height: 200px;
  }
}
header .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
}
@media (max-width: 960px) {
  header .content {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 960px) {
  header .content .messariLogo {
    display: none;
  }
}
header .content .homeLogo {
  display: none;
}
@media (max-width: 960px) {
  header .content .homeLogo {
    display: flex;
  }
  header .content .homeLogo img {
    width: 188.8px;
    height: 20.8px;
    margin: 30px 0px;
  }
}
header nav {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: auto;
}
header nav a {
  color: #54a2ff;
  padding: 5px 6px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
}
header nav .active {
  border-bottom: 2px solid #ffffff;
}
header nav .hov:hover {
  color: white;
  cursor: pointer;
  background-color: #4A90E2;
}
header .searchCont {
  width: 55%;
  display: flex;
}
@media (max-width: 960px) {
  header .searchCont {
    display: none;
  }
}
header .searchCont .inputCont {
  width: 100%;
}
header .searchCont .inputCont input[type=search] {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 1.5rem -0.25;
  background-color: white;
  background-image: url('../images/searchIcon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
header .searchCont .inputCont input[type=search]:focus {
  background-color: #D5DBE3;
}
header .searchCont .inputCont ::placeholder {
  color: #233a4f;
  opacity: 1;
  font-weight: 700;
}
header .searchCont .searchBtn {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: 44px;
  padding: 8px 32px;
  background-color: #4a90e2;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
header .searchCont .searchBtn:hover {
  cursor: pointer;
  background-color: #01579b;
}
header .loginSignUp {
  display: flex;
}
@media (max-width: 960px) {
  header .loginSignUp {
    margin: 30px;
  }
}
header .loginSignUp .loginBtn {
  border: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  font-size: 1.5rem;
  min-width: 64px;
  padding: 10px 12px;
  color: #ff9400;
  font-weight: 700;
  margin-left: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
header .loginSignUp .loginBtn:active {
  background-color: rgba(255, 148, 0, 0.25);
}
header .loginSignUp .loginBtn:focus {
  outline: 0;
}
header .loginSignUp .loginBtn:hover {
  cursor: pointer;
}
@media (max-width: 960px) {
  header .loginSignUp .loginBtn {
    padding: 10px 26px;
  }
}
header .loginSignUp .signUpBtn {
  border: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 26px;
  font-size: 1.5rem;
  min-width: 64px;
  color: white;
  font-weight: 700;
  white-space: nowrap;
  background-color: #ff9400;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
header .loginSignUp .signUpBtn:hover {
  cursor: pointer;
  background-color: #01579b;
}
header-krish {
  text-align: center;
  font-size: 3rem;
  padding: 15% 0 5% 0;
}
header-krish h1 {
  font-size: 3.5rem;
  color: white;
  padding: 12% 20% 2% 1%;
}
@media (max-width: 960px) {
  header-krish h1 {
    padding: 12% 37% 2% 1%;
    font-size: 3rem;
  }
}
@media (max-width: 717px) {
  header-krish h1 {
    display: none;
  }
}
header-krish .top-button-text {
  padding: 0.5%;
  font-size: 2.3rem;
  text-decoration: none;
  font-family: DroidSerifBold;
  border-radius: 6px;
  color: peru;
  background-color: white;
}
header-krish .top-button-text:hover {
  background-color: #ff4f00;
  color: white;
  cursor: pointer;
}
@media (max-width: 717px) {
  header-krish .top-button-text {
    margin-top: 20%;
  }
}
@media (max-width: 400px) {
  header-krish .top-button-text {
    font-size: 1.3rem;
  }
}
.words {
  display: inline-block;
  text-align: center;
  text-decoration: underline;
  color: yellow;
}
.word-animate span {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  display: inline-block;
  animation: rotateWord 7s linear infinite 0s;
  text-decoration: underline;
}
.word-animate span:nth-child(2) {
  animation-delay: 3s;
}
.word-animate span:nth-child(3) {
  animation-delay: 5s;
}
@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(-27px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(-27px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: local('Exo Regular'), local('Exo-Regular'), url(https://fonts.gstatic.com/s/exo/v9/4UaOrEtFpBISc36m.ttf) format('truetype');
}
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 700;
  src: local('Exo Bold'), local('Exo-Bold'), url(https://fonts.gstatic.com/s/exo/v9/4UaDrEtFpBIayFu29xLm.ttf) format('truetype');
}
.all-logo {
  position: relative;
  width: 40%;
  display: flex;
  margin: 8% 30%;
  transition: transform 0.5s ease;
}
.all-logo:hover {
  transform: scale(1.1);
}
@media (max-width: 550px) {
  .all-logo {
    width: 60%;
    margin: 8% 20%;
  }
}
.second-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10% 2% 7% 2%;
}
@media (max-width: 960px) {
  .second-content {
    display: flex;
    flex-direction: column;
  }
}
.second-content .messari-img {
  width: 54%;
  height: auto;
  transition: transform 0.5s ease;
  overflow: hidden;
}
.second-content .messari-img:hover {
  transform: scale(1.05);
}
@media (max-width: 960px) {
  .second-content .messari-img {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 720px) {
  .second-content .messari-img {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
  }
}
.second-content .messari-content {
  text-align: justify;
  width: 45%;
  padding: 1%;
  background-color: aquamarine;
}
@media (max-width: 960px) {
  .second-content .messari-content {
    width: 100%;
    overflow: hidden;
  }
}
.second-content h2 {
  color: #ff4f00;
  padding: 5%;
}
.heading {
  color: blueviolet;
  background-color: #e3edf4;
  padding: 2%;
  margin-top: 5%;
}
.third-content {
  display: flex;
  flex-wrap: wrap;
  background-color: #e3edf4;
}
@media (max-width: 550px) {
  .third-content {
    flex-direction: column;
  }
}
.third-content .para {
  margin: 2%;
  padding: 2% 0;
  display: flex;
  flex-direction: row;
  width: 45%;
  text-align: justify;
  border-bottom: 2px dashed brown;
}
.third-content .para:hover {
  background-color: #0ef16d;
}
@media (max-width: 550px) {
  .third-content .para {
    width: 100%;
  }
}
.third-content ul {
  list-style-type: disc;
  margin: 2%;
}
.last-content {
  background-color: #a8acec;
  padding: 1% 0;
  display: flex;
  justify-content: space-around;
}
.last-content p {
  color: white;
  width: 20%;
}
.last-content nav {
  width: 30%;
  display: flex;
  justify-content: space-around;
}
.last-content a {
  font-size: 2rem;
}
.about-wrapper {
  background-color: #e3edf4;
}
.about-wrapper h2,
.about-wrapper h3,
.about-wrapper p {
  color: black;
  margin: 0 2%;
  padding: 1% 0;
}
.about-wrapper p {
  text-align: justify;
  padding: 2% 0;
  width: 90%;
}
.about-wrapper img {
  width: 100%;
}
.about-wrapper .box {
  margin: 0 2%;
  padding: 2% 0;
  display: flex;
  border: 1px solid red;
}
/* animation of top landing page */
.first-container {
  background-image: linear-gradient(to left, #8e8ecc, #777bbb);
  height: 75vh;
}
